body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #BA0C2F;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background: #00205B;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-top: 7px solid #ffffff;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: #fff;
}

nav a.current {
    border-bottom: 2px solid #ffffff;
}
nav a:hover {
    border-bottom: 2px solid #ffffff85;
}

.container {
    padding: 20px;
    padding-bottom: 150px;
}

section {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 150px;
    margin-top: 80px;
    width: 90%;
}

img {
    width: 400px;
}

h1 {
    color: #00205B;
    font-size: 38px;
}

h2 {
    color: #00205B;
    font-size: 30px;
}

h3 {
    color: #00205B;
    font-size: 24px;
}

header h1 {
    color: #fff;
}

a {
    text-decoration: none;
    color: #BA0C2F;
}
a:hover {
    border-bottom: 2px solid #BA0C2F;
}
